._content {
  height: 500px;
}


.img_ {
  height: 150px;
  width: 150px;
  padding: 8px;
  position: relative;
  left: 50px;
  top: 10px;

  /*  Media Queries
  */

  //mobile
  @media only screen and (max-width: 320px) {
    left: 80px;
  }
  @media only screen and (max-width: 360px ) and (min-width: 325px) {
    height: 180px;
    width: 180px;
    left: 90px;
  }

  @media only screen and (max-width: 415px ) and (min-width: 365px) {
    height: 220px;
    width: 220px;
    left: 80px;
  }
  // tablet
  @media only screen and (max-width: 770px ) and (min-width: 415px) {
    height: 380px;
    width: 380px;
    left: 50px;
  }

  // large tablet
  @media only screen and (max-width: 1024px ) and (min-width: 770px) {
    height: 450px;
    width: 450px;
    left: 10px;
  }
}
