
  <ion-content fullscreen>
  <ion-grid class="_content">
    <ion-row>
      <ion-col class="ion-align-items-start" size="12" size-md style="padding: 0" >
        <div class="top_">
            <ion-img class="img_" src="assets/logo.png"></ion-img>
          <p>Doing church as a team</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style=" position: relative; top: 140px;">
      <ion-col>
        <ion-button expand="full" class="button_cls" routerLink="/login" color="light">Log In</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" routerLink="/signup" class="button_cls" >Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>

