
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
               offset-xl="4">
        <ion-img class="img_" src="assets/logo.png"></ion-img>
        <p  class="top_p" >Doing church as a team</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
               offset-xl="4">
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input  type="text" name="firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input  type="text" name="lastname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input  inputmode="tel" type="tel" name="mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input  type="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input  type="password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input  type="password" name="confirmPassword"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
