.img_ {
  height: 150px;
  width: 150px;
  padding: 8px;
  position: relative;
  left: 50px;
  top: 10px;

  /*  Media Queries
  */

  //mobile
  @media only screen and (max-width: 320px) {
    left: 50px;
  }
  @media only screen and (max-width: 360px ) and (min-width: 325px) {
    height: 180px;
    width: 180px;
    left: 60px;
  }

  @media only screen and (max-width: 375px ) and (min-width: 363px) {
    height: 180px;
    width: 180px;
    left: 40px;
  }

  @media only screen and (max-width: 415px ) and (min-width: 365px) {
    height: 220px;
    width: 220px;
    left: 65px;
  }
  // tablet
  @media only screen and (max-width: 770px ) and (min-width: 415px) {
    height: 380px;
    width: 380px;
    left: 60px;
  }

  // large tablet
  @media only screen and (max-width: 1024px ) and (min-width: 770px) {
    height: 450px;
    width: 450px;
    left: 10px;
  }
}

.eye_btn {
  position: relative;
  top: 50px;
  /*  Media Queries
*/

  //mobile
  @media only screen and (max-width: 320px) {
    top: 40px;
  }
  @media only screen and (max-width: 360px ) and (min-width: 325px) {
    top: 40px;
  }
}

.label_cls {
  font-size: 1rem;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10px 0px 10px 0px;
  /*  Media Queries
*/

  //mobile
  @media only screen and (max-width: 320px) {

  }
  @media only screen and (max-width: 360px ) and (min-width: 325px) {

  }
  @media only screen and (max-width: 375px ) and (min-width: 363px) {

  }

  @media only screen and (max-width: 415px ) and (min-width: 378px) {
    font-size: 1.2rem;
  }
  // tablet
  @media only screen and (max-width: 770px ) and (min-width: 415px) {

  }

  // large tablet
  @media only screen and (max-width: 1024px ) and (min-width: 770px) {

  }
}

.text_fld {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;

  @media only screen and (max-width: 415px ) and (min-width: 365px) {
    font-size: 1.2rem;
  }

}

.top_p {
  text-align: center;
  position: relative;
  bottom: 32px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #64b5f6;

  /*  Media Queries
*/

  //mobile
  @media only screen and (max-width: 320px) {
    font-size: .6rem;
    padding-top: 10px;
  }
  @media only screen and (max-width: 360px ) and (min-width: 325px) {
    font-size: .75rem;
    left: 10px;
  }
  @media only screen and (max-width: 375px ) and (min-width: 363px) {
    font-size: .75rem;
    left: 20px;
  }

  @media only screen and (max-width: 415px ) and (min-width: 378px) {
    font-size: .9rem;
    left: 0px;
  }
  // tablet
  @media only screen and (max-width: 770px ) and (min-width: 415px) {

  }

  // large tablet
  @media only screen and (max-width: 1024px ) and (min-width: 770px) {

  }
}
